<div class="container my-3 mx-auto">
  <div class="col-12 col-md-10 mx-auto">
    <div class="filter">
      <form action="/">
        <div class="input-group mb-3">
          <select class="custom-select mr-5" name="viewByMonth" onchange="this.form.submit()">
            <option selected disabled hidden>選擇月份</option>
            <option value="">全部月份</option>
            {{#each month}}
              <option value="{{this}}" {{#isEqual this ../viewByMonth}} selected {{/isEqual}}>
                {{this}}
              </option>
            {{/each}}
            
          </select>

          <select class="custom-select" name="viewByCategory" onchange="this.form.submit()">
            <option selected disabled hidden>選擇類別</option>
            <option value="">全部類別</option>
              {{#each category}}
                <option value="{{this.name}}" {{#isEqual this.name ../viewByCategory}} selected {{/isEqual}}>
                  {{this.label}}
                </option>
              {{/each}}
          </select>
        </div>
      </form>
    </div>

    
    <div class="total-expense my-2">
      <div class="row">
        <div class="col-5 total-expense-title">
          <p>Total Expense</p>
        </div>
        <div class="col-7 total-expense-num">
          <p> {{total_expense}}</p>
        </div>
        <div id="myDiv"></div>
      </div>
    </div>

    {{#each expenses}}
      <div class="expense-table">
        <table class="table table-striped">
          <colgroup>
            <col class="col-md-1">
            <col class="col-md-5">
            <col class="col-md-2">
            <col class="col-md-4">
          </colgroup>

          <tbody>
            {{#each records}}
            <tr>
              <td class="text-center align-middle">{{{this.category_icon}}}</td>
                
              <td>
                <div class="category-name d-flex flex-column">
                  <div class="category">
                    <b>{{this.name}}</b>
                    <span>{{this.merchant}}</span>
                  </div>
                  <div class="date mt-0">
                    {{this.date}}
                  </div>
                </div>
              </td>
    
              <td class="text-center align-middle record-amount">{{this.amount}}</td>
              
              <td class="text-center align-middle">
                <div class="buttons ml-5">
                  <a class="btn btn-primary btn-sm ml-2" href="/expenses/{{ this._id }}"><b
                      class="record-buttons align-middle">修改</b></a>
                  <a href="/expenses/{{this._id}}?_method=DELETE" class="btn btn-primary btn-sm record-buttons ml-2" onclick="return confirm(`確定刪除 {{ this.name }} ? `)"><b>刪除</b></a>
                </div>

              </td>
            </tr>
      </div>
      
    {{/each}}
    
    </tbody>
    </table>
  </div>
  <div class="new-expense d-flex justify-content-center mt-5">
    <a class="btn btn-primary" href="">新增支出</a>
  </div>
</div>






      